@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'HindSiliguri-SemiBold';
    src: url('../fonts/HindSiliguri-SemiBold.woff2') format('woff2'),
      url('../fonts/HindSiliguri-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Hafs';
    src: url('../fonts/UthmanNaskh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0600 –U + 06FF, U+0750 –U + 077F;
  }
  @font-face {
    font-family: 'kalpurush';
    src: url('../fonts/kalpurush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'anek-bangla';
    src: url('../fonts/anek.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

header > div {
  @apply transition-shadow;
  @apply duration-300;
  @apply shadow-xl;
}

header > div.no-shadow {
  @apply transition-shadow;
  @apply duration-300;
  @apply shadow-sm;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

b,
strong {
  @apply font-bold;
}

.form-select {
  background-image: url('/icons/chevron-down.svg');
}

.border-transition {
  -webkit-transition: border 150ms ease-out;
  -moz-transition: border 150ms ease-out;
  -o-transition: border 150ms ease-out;
  transition: border 150ms ease-out;
}

.link-underline-primary {
  border-bottom: 2px solid transparent;
  @apply border-transition;
}

.link-underline-white {
  border-bottom: 2px solid transparent;
  @apply border-transition;
}

.link-underline-accent {
  border-bottom: 2px solid transparent;
  @apply border-transition;
}

.link-underline-primary:hover,
.link-underline-primary:focus,
.link-underline-primary:active {
  border-bottom: 2px solid;
  @apply border-primary;
}

nav .nav-item:hover,
.nav-item:focus {
  @apply text-primary;
  -webkit-transition: color 150ms ease-out;
  -moz-transition: color 150ms ease-out;
  -o-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.link-underline-white:hover,
.link-underline-white:focus,
.link-underline-white:active {
  border-bottom: 2px solid;
  @apply border-neutral-0;
}

.link-underline-accent:hover,
.link-underline-accent:focus,
.link-underline-accent:active {
  border-bottom: 2px solid;
  @apply border-accent-1;
}

.donorbox-loader svg:nth-child(1) {
  animation-delay: 0.15s;
}

.donorbox-loader svg:nth-child(2) {
  animation-delay: 0.3s;
}

.donorbox-loader svg:nth-child(3) {
  animation-delay: 0.45s;
}

/*
 * Blog content styles with Tailwind CSS
 * Scoped under .markdown class for blog posts
 * Uses custom fonts, colors, and responsive design
 * Requires Tailwind CSS utilities
 */

.markdown.blog {
  font-size: larger;
  overflow: clip;
  overflow-clip-margin: 16px;
  @apply w-full max-w-full;
}

.markdown .has-x-large-font-size {
  @apply text-xl sm:text-2xl lg:text-3xl !important;
}

.markdown p {
  @apply m-0 mb-3 md:mb-5 leading-[1.6] md:leading-[1.75] text-base lg:text-lg !important;
}

.markdown h1 {
  @apply mt-6 mb-3 text-2xl leading-relaxed font-extraBold md:text-5xl md:mt-8;
}

.markdown h2 {
  @apply mt-5 mb-3 text-xl leading-relaxed md:text-3xl md:mt-7 font-semiBold;
}

.markdown h3 {
  @apply mt-4 mb-2.5 text-lg leading-relaxed font-regular md:text-2xl md:mt-6;
}

.markdown h4 {
  @apply mt-3 mb-2 text-base font-regular md:text-xl md:mt-4 md:font-semiBold;
}

.markdown h5 {
  @apply mt-2 mb-2 text-base font-regular md:text-xl md:mt-3;
}

.markdown h6 {
  @apply mt-2 text-base font-regular md:text-lg;
}

.markdown strong,
.markdown b {
  @apply font-bold;
}

/* Lists and Block Elements */
.markdown ol,
.markdown ul {
  list-style: revert;
  margin: revert;
  padding: revert;
  @apply pl-4 text-base lg:text-lg;
}

.markdown blockquote,
.markdown dl,
.markdown dd,
.markdown hr,
.markdown p,
.markdown pre {
  margin: revert;
}

/* Blockquote Styles */
.markdown blockquote {
  @apply my-2 mx-0 pl-9 md:pl-12 p-4 md:p-6 rounded-xl bg-primary-5 text-neutral relative !important;
}

.markdown blockquote a {
  @apply text-primary-1 font-medium italic underline hover:text-neutral 
         hover:underline transition-colors duration-200 !important;
  border-bottom: 0px solid transparent;
}

.markdown blockquote::before {
  content: '';
  @apply absolute w-5 h-5 md:w-6 md:h-6 left-2 md:left-4 top-4 md:top-6;
  background-image: url('/icons/quote-up.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Link Styles */
.markdown a {
  @apply text-secondary-4;
  border-bottom: 2px solid transparent;
  @apply border-transition;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  @apply border-secondary-4;
}

/* Media Elements */
.markdown figure iframe {
  @apply w-full h-52 sm:h-80 md:h-96;
}

.markdown figure {
  text-align: center;
  margin: auto;
  @apply my-2 overflow-x-auto;
}

/* Blog Image Styles */
.markdown figure.wp-block-image {
  @apply w-full my-0;
}

.markdown figure.wp-block-image img {
  @apply w-full h-auto mx-auto;
}

.markdown .wp-block-image img {
  @apply w-full h-auto mx-auto;
}

.markdown img {
  @apply w-full h-auto mx-auto my-4;
}

/* Table Styles */
.markdown figure th,
.markdown figure td {
  @apply px-4 py-2 border text-start border-neutral-8;
}

/* Arabic Text Alignment */
.markdown .has-text-align-right {
  @apply text-3xl lg:text-4xl font-arabic text-center bg-neutral-3 rounded-xl p-4 md:p-6 mt-2 md:mt-4 !important;
  direction: rtl !important;
  line-height: 2 !important;
}

.markdown .wp-block-button {
  @apply text-center !important;
}

.markdown .wp-element-button {
  @apply px-4 py-2  transition-colors rounded-lg hover:bg-neutral-8 hover:shadow-md w-max bg-neutral-9 text-neutral text-base !important;
  text-decoration: none !important;
  border-bottom: 0px !important;
}
.markdown .wp-element-button:hover {
  text-decoration: none !important;
  border-bottom: 0px !important;
  border-color: none !important;
}

.markdown .wp-block-separator {
  @apply text-neutral-2;
}
.markdown p .has-inline-color {
  @apply bg-yellow-1 px-1 !important;
}

.markdown .highlight {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.markdown .highlight::before {
  @apply bg-primary-3;
  content: '';
  position: absolute;
  inset: -8px -8px;
  border-radius: 12px;
  z-index: -1;
  opacity: 0;
  animation: fadeHighlight 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.support-query-item em {
  @apply bg-primary-1;
  font-style: normal;
}

@keyframes fadeHighlight {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.markdown .has-link-icon {
  position: relative;
  padding-right: 2rem;
}

.markdown .has-link-icon::after {
  @apply absolute top-[4px] md:top-[5px] right-0 w-6 h-6 transition-opacity duration-200 opacity-0 md:w-8 md:h-8;
  content: '';
  background-image: url('/icons/share-link-color-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.markdown .has-link-icon:hover::after {
  opacity: 0.5;
}
